@import "../../common.blocks/variables/variables";
@import "../../common.blocks/mixins/mixins";
.swiper-container1{
  margin-bottom: 1rem;
  min-height: 136px;

  @include media-breakpoint-up(sm){
    min-height: 202px;
  }
  @include media-breakpoint-up(md){
    min-height: 178px;
  }
  @include media-breakpoint-up(lg){
    min-height: 273px;
  }
  @include media-breakpoint-up(xl){
    min-height: 326px;
  }

}

.swiper-slide{
  height: auto !important;
  margin-top: 1px;
  position: relative;
}
.swiper-lazy-preloader{
  position: absolute !important;
  bottom:0;
  height: 20px;
  width: 20px;
  max-width: 100%;
  height: auto;
}


.swiper-button-prev{
  background-color: #fff;
  width: 37px !important;
  opacity: .4;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/></svg>") !important;
  left: 0px !important;
  right: auto;
  top: 20%!important;
  height: 55%!important;
  transition: all .15s ease-in-out;
  &:hover{
    opacity: .8;
    transition: all .15s ease-in-out;
    outline: 0;
  }
}
.swiper-button-next{
  background-color: #fff;
  width: 37px !important;
  opacity: .4;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/></svg>") !important;
  right: 0px !important;
  left: auto;
  top: 20%!important;
  height: 55%!important;
  transition: all .15s ease-in-out;
  &:hover{
    opacity: .8;
    transition: all .15s ease-in-out;
    outline: 0;
  }
}

.slider-caption{
  position: absolute;
  top: 60%;
  right: 10%;
  @include media-breakpoint-up(md){
     top: 80%;
     right: 10%;

  }
}

  .btn-caption{
    padding: .5rem;
    border: 1px solid white;
    color: white;

    &:hover{
      background-color: #ffffff4a;

    }
  }

.topSales{
  margin-top: 1rem;
}
#swiper-promo{
  min-height: 173px;
  @include media-breakpoint-up(md){
    min-height: 274px;
  }
  @include media-breakpoint-up(lg){
    min-height: 327px;
  }
}