@import "../../common.blocks/variables/variables";
@import "../../common.blocks/mixins/mixins";
@import "../../common.blocks/icons/icons";

.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}


.catalog-tree-wrapper{
    display: block;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 5px 10px -5px rgba(0,0,0,.4);
}
.catalog-tree__title{

    background-color: $color-primary-4;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight:400;
}
.catalog-tree__accordion{
    padding: 0;
    overflow: hidden;
}

.catalog-tree__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style-type: none;
    border-bottom: 1px solid #efefef;
    font-size: .9rem;
    transition: all .25s ease-in-out;
    &.dropdown>a{
        &:after {
          position: absolute;
          right: 5px;
          width: 12px;
          height: 6px;
          content: "";
          cursor: pointer;
          text-align: center;
          opacity: .9;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEyIDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlNoYXBlIDI8L3RpdGxlPjxwYXRoIGQ9Ik0uOCAwTDYgNC42IDExLjIgMGwuOC43TDYgNiAwIC43LjggMHoiIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
          transform: rotate(0deg);
          transition-property: transform;
          transition-duration: .5s;
        }
      &.collapsed:after {
        transform: rotate(90deg);
        transition-property: transform;
        transition-duration: .5s;

      }
    }

    @include media-breakpoint-up(lg){
      font-size: 1rem;
    }
}
.catalog-tree__link:not(.collapsed){
    padding-bottom: 5px;
    transition: all 0.35s ease;
}
.catalog-tree__link.collapsed{

    transition: all 0.35s ease;
}
.catalog-tree__link{
    color: $color-font;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    padding-right: 1.3rem;
    &:hover{
      color: $color-font;
      background-color: #7a839326;
    }
}
.catalog-tree__level{
     font-weight: 300;
     padding-left: 0;
}
.catalog-tree__levellink{
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
    color: $color-font;
    &:hover{
      color: $color-font;
    }
}
.catalog-tree__levelitem{
     color: $color-font;
     list-style-type: none;
     font-size: .9rem;
    &:hover{
        background-color: #7a839326;
     }
}

