@import "../../common.blocks/variables/variables";
@import "../../common.blocks/mixins/mixins";

.ctovar__button{
  background: $color-catalog-tovar-background-button;
  color: white;

  &:hover{
    background: $color-catalog-tovar-background-button-hover;
  }
}