.navbar--theme-color{
    background-color: $color-primary-0;


    & .navbar-offcanvas{
        padding: 0;
      }
    & .navbar-offcanvas{
          overflow: auto;
      @include media-breakpoint-up(md){
        overflow: inherit!important;
      }

    }

    & .active {
      &:before {
        background: $color-secondary-a-3;
        bottom: 7px;
        content: "";
        display: block;
        height: 3px;
        left: 0;
        opacity: 1;
        position: absolute;
        transform: scaleX(1);
        transform-origin: 50% 50%;
        transition: all .2s linear;
        width: 100%;
      }
    }

}