.navbar--theme-color{
    background-color: $color-primary-0;

      & .active {
      &:before {
        background: $color-secondary-a-3;
        top: 41px;
        content: "";
        display: block;
        height: 3px;
        left: 0;
        opacity: 1;
        position: absolute;
        transform: scaleX(1);
        transform-origin: 50% 50%;
        transition: all .2s linear;
        width: 100%;
      }
    }

}
.navbar-offcanvas{
  padding: 0 !important;
}
.navbar-offcanvas{
  overflow: auto !important;
  @include media-breakpoint-up(md){
    overflow: inherit!important;
  }

}