@charset "UTF-8";
/* Основной Цвет */
/* Вторичный Цвет B */
.tovar__price {
    font-size: 2.5rem;
    color: #fa4319;
}

.tovar__price i {
    font-size: 1.5rem;
    color: #717070;
}

.tovar__brend {
    color: #a67e0e;
}

.tovar__article {
    color: #a67e0e;
}

.tovar__store {
    color: #a67e0e;
}

.tovar-btn--add {
    background: #5ca9dc;
    color: white;
}

.tovar-btn--add:hover {
    background: #0d4e78;
}
