@charset "UTF-8";
/* Основной Цвет */
/* Вторичный Цвет B */
.tovar {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .tovar {
        margin-top: 0;
    }
}

.tovar_content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tovar__price {
    font-size: 2.5rem;
    color: #fa4319;
}

.tovar__price i {
    font-size: 1.5rem;
    color: #717070;
}

.h1__tovar-title {
    font-size: 1.5rem;
}

.tovar__brend {
    color: #a67e0e;
}

.tovar__article {
    color: #a67e0e;
}

.tovar__store {
    color: #a67e0e;
}

.tovar-btn--add {
    background: #5ca9dc;
    color: white;
}

.tovar-btn--add:hover {
    background: #0d4e78;
}

.tovar__properties-wrapper {
    text-align: right;
    margin-bottom: 1rem;
}

.tooltips__wrapper {
    margin: 1rem 0;
    background: #76c5db3b;
    padding: 1rem;
    color: #7a7a78;
}

.tovar__tooltip {
    font-weight: 300;
    border-bottom: 1px dotted #adadac;
}

.tovar__tooltip:hover {
    cursor: pointer;
}
