@charset "UTF-8";
/* Основной Цвет */
/* Вторичный Цвет B */
.promo-card__wrapper {
    margin-bottom: 1rem;
}

.promo-card {
    padding: 1rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 10px -5px rgba(0, 0, 0, 0.4);
}

.promo-card__title {
    font-size: 1.5rem;
    line-height: 1.1;
}

.panel-list-panel-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 1rem;
}

.promo-card__validity, .promo-card__published {
    color: #a67e0e;
    font-size: .6rem;
}

@media (min-width: 576px) {
    .promo-card__validity, .promo-card__published {
        font-size: 0.8rem;
    }
}
