@import "../../common.blocks/variables/variables";
@import "../../common.blocks/mixins/mixins";
@import "../../common.blocks/icons/icons";

.navbottom {
    background: $color-primary-1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.fixed-bottom{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1900;
    bottom: 0;
}
.navbottom__button{
    background-color: transparent;
    color: white;
    width: 100%;
    height: 47px;
    padding: 0;
}

.navbottom__button-back{
    order: 0;
    flex: 1 1 0;

    text-align: center;
}
.navbottom__button-cart{
    flex: 1 1 0;
    order: 2;
    text-align: center
}
.navbottom__button-catalog{
    flex: 1 1 0;
    order: 1;
    text-align: center
}

.bottom__cart-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.bottom__cart-values{
    font-size: .9rem;
    line-height: 1.1;
    i{
        font-size: .7rem;
    }
}
.navbar--theme-color-bottom{
    background-color: $white;
}
.is-open +  .history {
    pointer-events: none;
    opacity: 0.05;
}
