@import "../../common.blocks/variables/variables";
@import "../../common.blocks/mixins/mixins";
@import "../../common.blocks/icons/icons";

.card-uslugi__title {
  background-color: #5ca9dc;
  color: white;
  display: flex;
  padding: .5rem;
  height: 100%;
  font-size: 1.2rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.uslugi-text-wrap{
  padding: .5rem;
}