@import "../../common.blocks/variables/variables";
@import "../../common.blocks/mixins/mixins";
@import "../../common.blocks/icons/icons";

.filter__wrapper{
  display: block;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 5px 10px -5px rgba(0,0,0,.4);
  margin-bottom: 1rem;
}
.filter__title{
  background-color: $color-primary-4;
  padding: 10px;
  width: 100%;
  min-height: 51px;
  line-height: 1.1;
  color: #fff;
  font-size: 1.2rem;
  font-weight:400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__content-wrapper{
  padding: .5rem;
}
.filter__name {
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 700;
}
.filter__label{
  font-size: .8rem;
  display: block;
  &:hover{
    cursor: pointer;
  }
}
.navbottom__button-filter{
  flex: 1 1 0;
  order: 1;
  text-align: center;
}