@import "../../common.blocks/variables/variables";
@import "../../common.blocks/mixins/mixins";
@import "../../common.blocks/icons/icons";


.logo{
  width: 100%;
  height: 100px;
  path {
    stroke: $color-primary-0;
    fill: $color-primary-0;
  }
}


@include media-breakpoint-up(md){
  .header {
    height: 115px;
  }

}
