// COLORS

// Main theme colors

$color-primary-0: #297FB8;	/* Основной Цвет */
$color-primary-1: #3a6a8a;


$color-primary-4: #76C5DB;



$color-secondary-a-1: #bfa049;
$color-secondary-a-2: #a67e0e;
$color-secondary-a-3: #ffd661;
$color-secondary-a-4: #ffe18b;

$color-secondary-b-01: #fa4319;	/* Вторичный Цвет B */
$color-secondary-b-1: #bf6749;
$color-secondary-b-2: #a6350e;
$color-secondary-b-3: #ff8961;
$color-secondary-b-4: #ffa98b;

//color logo
$color-logo: #fa4319;

//color navbar
$color-navbar-background: #0d4e78;

//color navbar search
$color-search: #fad31a;

//color header

$color-header-sitename: $color-navbar-background;

//color cart
$color-cart-font: $color-search;
$color-cart-background: $color-logo;

//color footer
$color-footer-font-hover: $color-search;
$color-footer-background: $color-navbar-background;

//color catalog-tovar
$color-catalog-tovar-title:                   $color-navbar-background;
$color-catalog-tovar-background-button-hover: $color-navbar-background;
$color-catalog-tovar-background-button:       #5ca9dc;
$color-tovar-price: $color-logo;
$color-font: #717070;

$white: #ffffff;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:   #000000 !default;
$blue:    #007bff !default;
$green:   #28a745 !default;
$red:     #dc3545 !default;

$body-bg:                   $white;
$body-color:                #212529;
$headings-color:              inherit !default;
// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;