// COLORS

// Main theme colors

$color-primary-0: #2980b8;	/* Основной Цвет */
$color-primary-1: #3a6a8a;
$color-primary-2: #0d4e78;
$color-primary-3: #5ca9dc;
$color-primary-4: #7eb7dc;

$color-secondary-a-0: #ffc82c;	/* Вторичный Цвет A */
$color-secondary-a-1: #bfa049;
$color-secondary-a-2: #a67e0e;
$color-secondary-a-3: #ffd661;
$color-secondary-a-4: #ffe18b;

$color-secondary-b-0: #ff622c;	/* Вторичный Цвет B */
$color-secondary-b-1: #bf6749;
$color-secondary-b-2: #a6350e;
$color-secondary-b-3: #ff8961;
$color-secondary-b-4: #ffa98b;


$white: #ffffff;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:   #000000 !default;
$blue:    #007bff !default;
$green:   #28a745 !default;
$red:     #dc3545 !default;
