$icon_font_name:"myiconfont";
@font-face {
	font-family:$icon_font_name;
	src: url('../fonts/icons/myiconfont.eot');
	src: url('../fonts/icons/myiconfont.eot?#iefix') format('eot'),
	url('../fonts/icons/myiconfont.woff') format('woff'),
	url('../fonts/icons/myiconfont.ttf') format('truetype'),
	url('../fonts/icons/myiconfont.svg#myiconfont') format('svg');
}
%icon-columns,
%icon-glyphicons-auricular-phone-symbol-in-a-circle,
%icon-glyphicons-back,
%icon-glyphicons-catalog,
%icon-glyphicons-checklist,
%icon-glyphicons-clock,
%icon-glyphicons-collector,
%icon-glyphicons-commerce,
%icon-glyphicons-credit-card,
%icon-glyphicons-garden,
%icon-glyphicons-kanalizaciya,
%icon-glyphicons-komplekt,
%icon-glyphicons-latun,
%icon-glyphicons-light,
%icon-glyphicons-map-marker,
%icon-glyphicons-matall,
%icon-glyphicons-message,
%icon-glyphicons-meters,
%icon-glyphicons-podvodka,
%icon-glyphicons-polotencesushiteli,
%icon-glyphicons-polyetilen,
%icon-glyphicons-polypropilen,
%icon-glyphicons-pump,
%icon-glyphicons-radiatoryi,
%icon-glyphicons-refresh,
%icon-glyphicons-remove,
%icon-glyphicons-ruble,
%icon-glyphicons-sale,
%icon-glyphicons-search,
%icon-glyphicons-shield,
%icon-glyphicons-smesiteli,
%icon-glyphicons-star,
%icon-glyphicons-still,
%icon-glyphicons-tapbuks,
%icon-glyphicons-teploizolyaciya,
%icon-glyphicons-tools,
%icon-glyphicons-tube,
%icon-glyphicons-water-filter,
%icon-glyphicons-water-heater,
%icon-home,
%icon-list,
%icon-users,
%icon-vk,
%last_selector {
		&:before {
			font-family:$icon_font_name;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
			text-decoration: none;
			text-transform: none;
		}
	}

%icons_before_after {
	&:before,
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icons_after {
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icon-columns:before {
	content:'\E001';
}
%icon-glyphicons-auricular-phone-symbol-in-a-circle:before {
	content:'\E002';
}
%icon-glyphicons-back:before {
	content:'\E003';
}
%icon-glyphicons-catalog:before {
	content:'\E004';
}
%icon-glyphicons-checklist:before {
	content:'\E005';
}
%icon-glyphicons-clock:before {
	content:'\E006';
}
%icon-glyphicons-collector:before {
	content:'\E007';
}
%icon-glyphicons-commerce:before {
	content:'\E008';
}
%icon-glyphicons-credit-card:before {
	content:'\E009';
}
%icon-glyphicons-garden:before {
	content:'\E00A';
}
%icon-glyphicons-kanalizaciya:before {
	content:'\E00B';
}
%icon-glyphicons-komplekt:before {
	content:'\E00C';
}
%icon-glyphicons-latun:before {
	content:'\E00D';
}
%icon-glyphicons-light:before {
	content:'\E00E';
}
%icon-glyphicons-map-marker:before {
	content:'\E00F';
}
%icon-glyphicons-matall:before {
	content:'\E010';
}
%icon-glyphicons-message:before {
	content:'\E011';
}
%icon-glyphicons-meters:before {
	content:'\E012';
}
%icon-glyphicons-podvodka:before {
	content:'\E013';
}
%icon-glyphicons-polotencesushiteli:before {
	content:'\E014';
}
%icon-glyphicons-polyetilen:before {
	content:'\E015';
}
%icon-glyphicons-polypropilen:before {
	content:'\E016';
}
%icon-glyphicons-pump:before {
	content:'\E017';
}
%icon-glyphicons-radiatoryi:before {
	content:'\E018';
}
%icon-glyphicons-refresh:before {
	content:'\E019';
}
%icon-glyphicons-remove:before {
	content:'\E01A';
}
%icon-glyphicons-ruble:before {
	content:'\E01B';
}
%icon-glyphicons-sale:before {
	content:'\E01C';
}
%icon-glyphicons-search:before {
	content:'\E01D';
}
%icon-glyphicons-shield:before {
	content:'\E01E';
}
%icon-glyphicons-smesiteli:before {
	content:'\E01F';
}
%icon-glyphicons-star:before {
	content:'\E020';
}
%icon-glyphicons-still:before {
	content:'\E021';
}
%icon-glyphicons-tapbuks:before {
	content:'\E022';
}
%icon-glyphicons-teploizolyaciya:before {
	content:'\E023';
}
%icon-glyphicons-tools:before {
	content:'\E024';
}
%icon-glyphicons-tube:before {
	content:'\E025';
}
%icon-glyphicons-water-filter:before {
	content:'\E026';
}
%icon-glyphicons-water-heater:before {
	content:'\E027';
}
%icon-home:before {
	content:'\E028';
}
%icon-list:before {
	content:'\E029';
}
%icon-users:before {
	content:'\E02A';
}
%icon-vk:before {
	content:'\E02B';
}