@charset "UTF-8";

@font-face {
    font-family: "myiconfont";
  src: url("../fonts/icons/myiconfont.eot");
  src: url("../fonts/icons/myiconfont.eot?#iefix") format("eot"), url("../fonts/icons/myiconfont.woff") format("woff"), url("../fonts/icons/myiconfont.ttf") format("truetype"), url("../fonts/icons/myiconfont.svg#myiconfont") format("svg");
}

.icon__tel:before,
.icon__catalog:before,
.icon__worTime:before,
.icon__cart:before,
.icon__address-marker:before,
.icon__search:before {
    font-family: "myiconfont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.icon__tel:before {
    content: '\E001';
}

.icon__catalog:before {
    content: '\E002';
}

.icon__worTime:before {
    content: '\E003';
}

.icon__cart:before {
    content: '\E004';
}

.icon__address-marker:before {
    content: '\E005';
}

.icon__search:before {
    content: '\E006';
}

/* Основной Цвет */
/* Вторичный Цвет A */
/* Вторичный Цвет B */
.icon__address-marker {
    padding-right: .5rem;
}

.icon__address-marker:before {
    font-weight: bold;
}

.icon__tel {
    padding-right: .5rem;
}

.icon__worTime {
    padding-right: .5rem;
}

.icon__search {
    padding-right: .5rem;
}

.icon__cart {
    font-size: 1.8em;
    height: 47px;
    color: #ffffff;
}

.icon__catalog {
    padding-right: .5rem;
}
