@import "icons";
@import "../../common.blocks/variables/variables";
.icon__address-marker{
  @extend %icon-glyphicons-map-marker;
  padding-right: .5rem;

  &:before{
    font-weight: bold;
  }

}
.icon__tel{
  @extend %icon-glyphicons-auricular-phone-symbol-in-a-circle;
  padding-right: .5rem;
}

.icon__worTime{
  @extend %icon-glyphicons-clock;
  padding-right: .5rem;
}
.icon__search{
  @extend %icon-glyphicons-search;

}
.icon__cart{
  @extend %icon-glyphicons-commerce;
  font-size: 1.8em;
  padding-right: 5px;
  padding-left: 5px;
  height: 47px;
  color: $white;
}
.icon__catalog{
  @extend %icon-glyphicons-catalog;
  padding-right: 5px;
  padding-left: 5px;
  &:before{
    font-weight: 800;
    position: relative;
    top: 2px;
  }
}

.icon__truby{
  @extend %icon-glyphicons-truby;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__smesitely{
  @extend %icon-glyphicons-smesiteli;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}