@import "icons";
@import "../../common.blocks/variables/variables";
.icon__address-marker{
  @extend %icon-glyphicons-map-marker;
  padding-right: .5rem;

  &:before{
    font-weight: bold;
  }

}
.icon__tel{
  @extend %icon-glyphicons-auricular-phone-symbol-in-a-circle;
  padding-right: .5rem;
}

.icon__worTime{
  @extend %icon-glyphicons-clock;
  padding-right: .5rem;
}
.icon__search{
  @extend %icon-glyphicons-search;

}
.icon__cart{
  @extend %icon-glyphicons-commerce;
  font-size: 1.8em;
  padding-right: 5px;
  padding-left: 5px;
  height: 47px;
  color: $white;
}
.icon__catalog{
  @extend %icon-glyphicons-catalog;
  padding-right: 5px;
  padding-left: 5px;
  &:before{
    font-weight: 800;
    position: relative;
    top: 2px;
  }
}

.icon__tapbuks{
  @extend %icon-glyphicons-tapbuks;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__smesitely{
  @extend %icon-glyphicons-smesiteli;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__radiatory{
  @extend %icon-glyphicons-radiatoryi;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__polotencesushiteli{
  @extend %icon-glyphicons-polotencesushiteli;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__teploizolyciya{
  @extend %icon-glyphicons-teploizolyaciya;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__sale{
  @extend %icon-glyphicons-sale;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__podvodka{
  @extend %icon-glyphicons-podvodka;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__kanalizaciya{
  @extend %icon-glyphicons-kanalizaciya;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}

.icon__water-heater{
  @extend %icon-glyphicons-water-heater;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__latun{
  @extend %icon-glyphicons-latun;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__still{
  @extend %icon-glyphicons-still;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__light{
  @extend %icon-glyphicons-light;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__tools{
  @extend %icon-glyphicons-tools;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__meters{
  @extend %icon-glyphicons-meters;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__pumps{
  @extend %icon-glyphicons-pump;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__garden{
  @extend %icon-glyphicons-garden;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__water-filter{
  @extend %icon-glyphicons-water-filter;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__metalloplastik{
  @extend %icon-glyphicons-matall;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__polypropilen{
  @extend %icon-glyphicons-polypropilen;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__tube{
  @extend %icon-glyphicons-tube;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__polyetilen{
  @extend %icon-glyphicons-polyetilen;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}
.icon__komplekt{
  @extend %icon-glyphicons-komplekt;
  padding-right: 5px;
  padding-left: 5px;

  font-size: 1.5rem;
}