@charset "UTF-8";

@font-face {
    font-family: "myiconfont";
  src: url("../fonts/icons/myiconfont.eot");
  src: url("../fonts/icons/myiconfont.eot?#iefix") format("eot"), url("../fonts/icons/myiconfont.woff") format("woff"), url("../fonts/icons/myiconfont.ttf") format("truetype"), url("../fonts/icons/myiconfont.svg#myiconfont") format("svg");
}

.icon__tel:before,
.icon__back:before,
.icon__catalog:before,
.icon__bottom-catalog:before,
.icon__checklist:before,
.icon__folter-checklist:before,
.icon__worTime:before,
.icon__collectors:before,
.icon__cart:before,
.icon__credit-card:before,
.icon__garden:before,
.icon__kanalizaciya:before,
.icon__komplekt:before,
.icon__latun:before,
.icon__light:before,
.icon__address-marker:before,
.icon__metalloplastik:before,
.icon__message:before,
.icon__meters:before,
.icon__podvodka:before,
.icon__polotencesushiteli:before,
.icon__polyetilen:before,
.icon__polypropilen:before,
.icon__pumps:before,
.icon__radiatory:before,
.icon__refresh:before,
.icon__remove:before,
.icon__ruble:before,
.icon__sale:before,
.icon__search:before,
.icon__shield:before,
.icon__smesitely:before,
.icon__star:before,
.icon__still:before,
.icon__tapbuks:before,
.icon__teploizolyciya:before,
.icon__tools:before,
.icon__tube:before,
.icon__water-filter:before,
.icon__water-heater:before {
    font-family: "myiconfont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.icon__tel:before {
    content: '\E001';
}

.icon__back:before {
    content: '\E002';
}

.icon__catalog:before,
.icon__bottom-catalog:before {
    content: '\E003';
}

.icon__checklist:before,
.icon__folter-checklist:before {
    content: '\E004';
}

.icon__worTime:before {
    content: '\E005';
}

.icon__collectors:before {
    content: '\E006';
}

.icon__cart:before {
    content: '\E007';
}

.icon__credit-card:before {
    content: '\E008';
}

.icon__garden:before {
    content: '\E009';
}

.icon__kanalizaciya:before {
    content: '\E00A';
}

.icon__komplekt:before {
    content: '\E00B';
}

.icon__latun:before {
    content: '\E00C';
}

.icon__light:before {
    content: '\E00D';
}

.icon__address-marker:before {
    content: '\E00E';
}

.icon__metalloplastik:before {
    content: '\E00F';
}

.icon__message:before {
    content: '\E010';
}

.icon__meters:before {
    content: '\E011';
}

.icon__podvodka:before {
    content: '\E012';
}

.icon__polotencesushiteli:before {
    content: '\E013';
}

.icon__polyetilen:before {
    content: '\E014';
}

.icon__polypropilen:before {
    content: '\E015';
}

.icon__pumps:before {
    content: '\E016';
}

.icon__radiatory:before {
    content: '\E017';
}

.icon__refresh:before {
    content: '\E018';
}

.icon__remove:before {
    content: '\E019';
}

.icon__ruble:before {
    content: '\E01A';
}

.icon__sale:before {
    content: '\E01B';
}

.icon__search:before {
    content: '\E01C';
}

.icon__shield:before {
    content: '\E01D';
}

.icon__smesitely:before {
    content: '\E01E';
}

.icon__star:before {
    content: '\E01F';
}

.icon__still:before {
    content: '\E020';
}

.icon__tapbuks:before {
    content: '\E021';
}

.icon__teploizolyciya:before {
    content: '\E022';
}

.icon__tools:before {
    content: '\E023';
}

.icon__tube:before {
    content: '\E024';
}

.icon__water-filter:before {
    content: '\E025';
}

.icon__water-heater:before {
    content: '\E026';
}

/* Основной Цвет */
/* Вторичный Цвет B */
.icon__address-marker {
    padding-right: .5rem;
}

.icon__address-marker:before {
    font-weight: bold;
}

.icon__tel {
    padding-right: .5rem;
}

.icon__worTime {
    padding-right: .5rem;
}

.icon__cart {
    font-size: 2rem;
    padding-right: 5px;
    padding-left: 5px;
    height: 50px;
    color: #ffffff;
}

.icon__catalog {
    padding-right: 5px;
    padding-left: 5px;
}

.icon__catalog:before {
    font-weight: 800;
    position: relative;
    top: 2px;
}

.icon__tapbuks {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__smesitely {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__radiatory {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__polotencesushiteli {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__teploizolyciya {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__sale {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__podvodka {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__kanalizaciya {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__water-heater {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__latun {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__still {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__light {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__tools {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__meters {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__pumps {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__garden {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__water-filter {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__metalloplastik {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__polypropilen {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__tube {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__polyetilen {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__komplekt {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__collectors {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon__ruble {
    padding-right: 1px;
    padding-left: 1px;
    font-size: .8rem;
}

.icon__back {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
}

.icon__bottom-catalog {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
}

.icon__checklist {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
}

.icon__folter-checklist {
    padding-right: 5px;
    padding-left: 5px;
}

.icon__shield {
    padding-right: 5px;
    padding-left: 5px;
    top: 3px;
    position: relative;
}

.icon__message {
    padding-right: 5px;
    padding-left: 5px;
    top: 2px;
    position: relative;
}

.icon__refresh {
    padding-right: 5px;
    padding-left: 5px;
    top: 2px;
    position: relative;
}

.icon__credit-card {
    padding-right: 5px;
    padding-left: 5px;
    top: 2px;
    position: relative;
}

.icon__star {
    padding-right: 5px;
    padding-left: 5px;
    top: 2px;
    position: relative;
}

.icon__remove {
    padding-right: 5px;
    padding-left: 5px;
}
